<html>
  <head>
    <style>
        .template-footer {
            font-size: 9px;
            font-style: italic;
            line-height: 14px;
            bottom: 20px;
            margin-left: 30px;
            -webkit-print-color-adjust: exact
        }
    </style>
  </head>
  <body>
      <div class="template-footer">{{ deepFind $localizedResource 'app.invoices.preview.footer' }}</div>
  </body>
</html>